<header class='header'>
  <nav class='navbar'>
    <div class='container'>
      <a href='{{ .Site.Home.RelPermalink }}' class='brand'>
        {{ .Site.Title }}
      </a>
      
      <div class='nav-menu'>
        {{ range .Site.Menus.main }}
          <a href='{{ .URL }}' class='nav-link'>{{ .Name }}</a>
        {{ end }}
        
        <div class='language-selector'>
          {{ range .Site.Languages }}
            {{ if ne .Lang $.Site.Language.Lang }}
              <a href='{{ if eq .Lang $.Site.DefaultContentLanguage }}/{{ else }}/{{ .Lang }}/{{ end }}'>{{ .LanguageName }}</a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </nav>
</header>
